

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-contanier{
  margin-top: 10px;
  height: auto;
}
.left{
  padding:40px;
  background-color: #ccc;
  border-top: 1px solid #5e5e5f;
  border-right: 1px solid #5e5e5f;
  text-decoration: none;
  font-weight: 500;
  min-width: 300px;
  min-height: 200px;
  height: auto;
}
.left a {
  color: black;
  margin-bottom: 10px;
}
.main
{
  margin-top: 3vh;
  margin-left: 1vh;
}
.photo
{
  width: 200px;
  height: 200px;
}
.photoTitle{
  font-size: 16px;
  width: 180px;
  text-overflow: ellipsis;
  height: 30px;
  overflow: hidden;  
  white-space: nowrap;
}